html {
	margin: 0 0;
	padding: 0 0;
	height: 100vh;
	background: linear-gradient(to bottom, #ccffff 0%, #ccccff 100%);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
}

.content {
	display: flex;
	justify-content: space-around;
	width: 80vw;
}
.meuzinput {
	width: 200px;
}
.main {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
.btn {
	display: block;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	width: 200px;
	height: 50px;
	outline: none;
	-webkit-box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 0.75);
}

.envelope {
	width: 70px;
	height: 50px;
	padding: 0;
	border-radius: 0px;
	box-shadow: none;
	transition: all 1s;
	animation: roll-out-blurred-right 3s cubic-bezier(0.755, 0.05, 0.855, 0.06)
		both;
}

.lines {
	position: absolute;
	width: 70px;
	height: 50px;
	opacity: 0;
	transition: opacity 1s;
	background-image: -webkit-linear-gradient(
			-235.5deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) 48%,
			rgba(0, 0, 0, 0.1) 49%,
			rgba(225, 215, 205, 0.5) 50%,
			rgba(225, 215, 205, 0) 52%,
			rgba(225, 215, 205, 0) 100%
		),
		-webkit-linear-gradient(235.5deg, rgba(225, 215, 205, 0) 0%, rgba(
						225,
						215,
						205,
						0
					)
					48%, rgba(225, 215, 205, 0.5) 49%, rgba(0, 0, 0, 0.1) 50%, rgba(
						0,
						0,
						0,
						0
					)
					52%, rgba(0, 0, 0, 0) 100%);
}

.show {
	opacity: 1;
	z-index: 1;
}

.btn-send {
	background-color: rgb(255, 153, 0);
	color: #fff;
}

.btn-send:hover {
	background-color: rgb(228, 137, 2);
}

.meu-botao {
	align-self: center;
	justify-self: center;
}
@keyframes roll-out-blurred-right {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		display: block;
	}
	100% {
		-webkit-transform: translateX(1000px) rotate(720deg);
		transform: translateX(1000px) rotate(720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		display: none;
	}
}
